body {
  margin: 0;
  background-color: #1E201E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgba(170, 185, 154, 0.3);
  color: #AAB99A;
}

input {
  caret-color: #AAB99A;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}